//generate background colors classses

.bg-dark{
    background-color: $dark-teal;
}

.bg-gray-warm{
    background-color: $gray-warm;
}

.bg-green{
    background-color: $green;
}

.bg-red{
    background-color: $red;
}