$primary: #FCCC17;
$secondary:#FCCC2C;
$black: #000000;
$dark-teal: #071418;
$red:#D80000;
$green:#64D800;
$white: #FFFFFF;
$gray-dark: #707070;
$gray-darker: #3E3E3E;
$gray-light: #D5D5D5; 
$gray-lighter: #E5E5E5; 
$gray-medium: #5D5D5D;
$gray-soft: #DADADA; 
$gray-muted: #DCDCDC;
$gray-warm: #EDEDED; 
$gray-cool: #EAEAEA; 
$black-transparent-40: #00000065;
$black-transparent-23: #0000003B; 
$gray-transparent-55: #7070708B;
$black-translucent:#0000005C;
