.discounts-cards-container {
    padding: 39px 47px 26px 41px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .card {
        width: 295px;
        height: 261px;
        border: 1px solid $black-transparent-23;
    }

    .card-body {
        padding: 54px 37px 0px 37px;
        margin: auto;

        .badge {
            padding: 4px 11px;
            margin-right: 12px;
        }

        .expiry-date,
        .until {
            font-size: 14px;
        }
    }

    .card-footer-custom {
        background-color: $gray-warm;
        border: 1px solid $gray-muted;
        margin-top: auto;

        .deal-name {
            font-size: 16px;
        }

        .deal-value {
            color: $black;
            opacity: 0.7;
        }

        p {
            font-size: 12px;
        }

        .trash-button {
            color: $black;

            &:hover {
                color: $red;
            }
        }
    }

    h5 {
        font-size: 27px;
        width: fit-content;
        background: $gray-light 0% 0% no-repeat padding-box;
        border: 2px dashed $black-translucent;
        border-radius: 4px;
        padding: 6px 20px
    }
}

@media screen and ($xl-reverse) {
    .discounts-cards-container>div {
        flex: 1 1 calc(50% - 0.5rem);
        max-width: calc(50% - 0.5rem);
    }
}

@media screen and ($lg-reverse) {
    .discounts-cards-container>div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}