.kortingscodes-container {
    border: 1px solid $gray-muted;
    border-radius: 4px;
    padding-bottom: 95px;

    .kortingscodes-wrapper {
        padding: 39px 47px 26px 41px;
        background-color: $gray-warm;
        border-radius: 4px 4px 0px 0px;
        border: 1px solid $gray-muted;

        @media (max-width: 992px) {
            padding: 25px;
        }

        @media (max-width: 576px) {
            padding: 15px;
        }

        .kortingscodes-title {
            font-size: 21px;
            color: black;
        }

        .kortingscodes-description {
            font-size: 14px;
            color: black;
            opacity: 0.6;
        }

        button {
            background-color: $secondary;
            color: $black;
            border: none;
        }

        // Make form container have proper spacing on mobile
        .kortingscodes-form-container {
            gap: 15px;

            @media screen and ($lg) {
                width: 100%;
            }
        }

        .kortingscodes-select-container,
        .kortingscodes-search-container,
        .kortingscodes-checkbox-container,
        .kortingscodes-button-container {
            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .custom-select-input {
            width: 291px;
            height: 50px;
            border: 1px solid $gray-muted;
            border-radius: 4px;

            &::placeholder,
            & {
                color: $black;
                font-size: 14px;
                font-weight: 400;
            }

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        select option {
            color: black;
        }

        .custom-search-input {
            width: 332px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid $gray-muted;
            border-radius: 4px;
            opacity: 1;

            // Black placeholder text
            &::placeholder {
                color: $black;
                font-size: 14px;
                font-weight: 400;
            }

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .search-icon {
            height: 14px;
            width: 14px;
        }

        .search-text {
            font-size: 14px;
            font-weight: bold;
        }

        .form-check-label {
            font-size: 15px;
            font-weight: 500;
        }

        .custom-checkbox {

            // Hide the default checkbox
            .form-check-input {
                width: 26px;
                height: 26px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: $white;
                border: 1px solid #3E3E3E;
                border-radius: 4px;
                cursor: pointer;

                &:checked {
                    background-color: #5D5D5D;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:focus {
                    border-color: #3E3E3E;
                    box-shadow: none;
                    outline: none;
                }
            }
        }

        .kortingscodes-search-container {
            margin-left: 12px;

            @media (max-width: 992px) {
                margin-left: 0;
            }
        }

        .kortingscodes-checkbox-container {
            margin-left: 0px;
            margin-top: 10px;

            @media (min-width: 1200px) {
                margin-left: 44px;
                margin-top: 0px;
            }
        }

        .kortingscodes-button-container {
            @media (max-width: 992px) {
                width: 100%;

                button {
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}