.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 137px;
    height: 100vh;
    padding-top: 63px;
    border: 1px black solid;

    .active-link {
        background-color: $primary;
    }

    li {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 4px;
        padding: 0 12px;

        a {
            border-radius: 4px
        }
    }
}