.sidebar {
    position: relative;
    width: 137px;
    height: auto;
    min-height: 100vh;
    padding-top: 63px;
    padding-bottom: 20px;
    border-right: 1px $gray-muted solid;
    box-sizing: border-box;
    margin-top: -63px;

    .active-link {
        background-color: $primary;
    }

    li {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 4px;
        padding: 0 12px;

        a {
            border-radius: 4px;
        }
    }

    .logo-container {
        margin-bottom: 67px;

        img {
            width: 64px;
            height: 89px;
        }
    }
}