.top-navbar {
    height: 63px;

    a {
        font-size: 18px;
        font-weight: 400;
        margin-right: 2rem;
    }

    .user-icon {
        width: 18px;
        height: 21px;
    }

    .icon {
        width: 20px;
        height: 21px;
    }

    .speaker-icon {
        width: 23px;
        height: 21px;
    }

}