.shop-page {
    h2 {
        font-size: 30px;
    }

    hr {
        border: none;
        border-top: 2px solid $gray-dark;
        opacity: 0.3;
    }

    .shop-logo {
        width: 30px;
        height: 27px
    }

}